extends layout

block body
  div(ng-controller='AppCtrl')
    .col
      h3 Messages
      .overflowable
        p(ng-repeat='message in messages') {{message.user}} ({{message.id}}): {{message.text}}

    .col
      h3 Users
      .overflowable
        p(ng-repeat='user in users') {{user}}

    .clr
      form
        p Message:
        input(size='60', ng-model='message')
        input(type='submit', value='Send', ng-click='sendMessage()')

    .clr
      h3 Change a message
      form(ng-submit='requestMessageChange()')
        input(ng-model='id', placeholder='Enter Id')
        input(ng-model='newMessage', placeholder='New Message')
        input(type='submit', value='Change Message')

    .clr
      h3 Change your name
      p Your current user name is
      form(ng-submit='requestChangeName()')
        input(ng-model='newName')
        input(type='submit', value='Change Name')

  script(src='/socket.io/socket.io.js')
  script(src='bower_components/angular/angular.js')
  script(src='bower_components/angular-route/angular-route.js')
  script(src='bower_components/angular-socket-io/socket.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
